/* definiçoes de estilo para a pagina */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* definiçoes para a lista de tarefas */

/* estilos para a area de container */
.container{
    max-width: 600px; /*define a largura máxima do container*/
    margin: 20px auto; /*margem extra com alinhamento automático*/
    background-color: #fff; /*cor de fundo do container*/
    padding: 20px; /*espaçamento interno do container*/
    border-radius: 5px; /*borda arredondada*/
    box-shadow: 0 0 10px;
}

/* estilos para o título */
h1 {
    text-align: center; /*alinhamento do texto ao centro*/
    margin-bottom: 20px; /*espaço inferior*/
}

/* estilos para a seção de entrada */
.input-section {
    display: flex; /*utiliza o modelo fexivel para ogranzação*/
    gap: 10px; /*espaçamento entre os elementos*/
    margin-bottom: 20px; /*espaço inferior*/
}

input[type="text"] {
    padding: 8px;/*espaçamento interno do campo*/
    width: 70%; /*largura do campo*/
    border-radius: 3px; /*borda arredondada*/
    border: 1px solid #ccc; /*borda com cor e expessura*/
}

/* estilos para os botões */
button {
    padding: 8px 15px; /*espaçaento interno do botão*/
    border: none; /*remove a borda padrão*/
    border-radius: 3px; /*arredonda a borda*/
    background-color: #007bff; /*cor de fundo do botão*/
}