body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

.coluna {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}